@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@font-face {
    font-family: RetroSignatureRegular;
    font-weight: normal;
    font-style: normal;
    src: url("//fonts.icasei.com.br/fonts/RetroSignatureRegular/RetroSignatureRegular.eot");
    src: url("//fonts.icasei.com.br/fonts/RetroSignatureRegular/RetroSignatureRegular.eot?") format("eot"), url("//fonts.icasei.com.br/fonts/RetroSignatureRegular/RetroSignatureRegular.woff") format("woff"), url("//fonts.icasei.com.br/fonts/RetroSignatureRegular/RetroSignatureRegular.ttf") format("truetype"), url("//fonts.icasei.com.br/fonts/RetroSignatureRegular/RetroSignatureRegular.svg#RetroSignatureRegular") format("svg");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 39vh;
    background: #ebcecda9 url(/media/flores.jpg)bottom left no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

a:hover{
    background-color: #bdaeae;
    padding: 10px;
    border-radius: 10px;
    transform: translate(-2px, -2px);
    transition: 0.2s;
}

.navbar {
    display: flex;
    padding: 20px;
    height: 30px;
    background-image: linear-gradient(#ddc8cbbe, #bda8ac6c, #8b7b7d6e) ;
}

.iniciais {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lustria', cursive;
    letter-spacing: normal;
}

.navbar_links {
    margin-left: 20px;
    
}

.navbar_items_right {
    margin-left: auto;
    margin-top: 9px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}


.banner > h1 {
    font-family: RetroSignatureRegular;
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.banner > p {
    text-align: center;
    font-size: 20px;
    font-family: 'Lustria', cursive;
    margin-bottom: 300px;
}

.localizacao > h2 {
    font-family: 'Lustria', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 20px;
    padding-left: 10px;
}

.localizacao > p {
    font-family: 'Lustria', sans-serif;
    /* text-indent: 40px;  */
    text-align: justify;
    margin-left: 30px;
    width: 400px;
    line-height: 25px;
}

.sobre_nos > h2 {
    font-family: 'Lustria', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 30px;
    padding-left: 10px;
}

.sobre_nos > p {

    font-family: 'Lustria', sans-serif;
    /* text-indent: 30px;  */
    /* text-align: center; */
    text-align: justify;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 25px;
    /* width: 510px; */
}
