{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casamento</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <nav>
            <div class="iniciais">
                    R & S
            </div>
        </nav>
        <nav class="navbar_items_right">
            <div class="navbar_links">
                <a href="https://www.finalfeliz.de/rafael-matos-stefani-oliveira">Presentes</a>
            </div>
            <div class="navbar_links">
                <a href="">Confirmar Presença</a>
            </div>
        </nav>
   </div>

   <main>
        <article class="banner">
            <h1>Rafael e Stefani</h1>
            <p>28 . 09 . 2024</p>
        </article>

        <article class="localizacao">
            <h2>Localização</h2>
            <p>Espaço Imperial</p>
        </article>

        <article class="sobre_nos">
            <h2>Sobre nós...</h2>
            <p>Éramos ainda muito jovens quando nos apaixonamos. Tínhamos muitas dúvidas e incertezas sobre como seria o nosso futuro, mas tínhamos uma certeza de que iriamos fica para sempre juntos. Ela sempre meiga e carinhosa vivendo um romance de conto de fadas e ele um ogro que não sabia demonstrar o quanto a amava. Nesse impasse, ela o convenceu de que o amor de conto de fadas realmente existe. Ela ensinou ele a amar e a demonstrar esse amor.
            </p>
        </article>

    </main>
</body>
</html>


{% endblock %}